<% if current_user %>
	<% @title = 'Social Heart - Home' %>
	<header>
		<div class="top-bar">
			<div class="top-bar-left">
			    <ul class="dropdown menu" data-dropdown-menu>
			    	<li class="menu-text">Social Heart</li>
			    </ul>
			</div>
			<div class="top-bar-right">
			    <ul class="menu">
			    	<li><img src="<%= current_user.picture %>"></li>
			    	<li><%= link_to current_user.name, root_path %></li>
					<li><%= link_to "Sign out", "/sign_out", method: :delete, class: "button" %></li>
			    </ul>
		  </div>
		</div>
	</header>

	<% if current_user.provider == 'facebook' %>
		<%= render 'home/facebook' %>
	<% else %>
		<%= render 'home/twitter' %>
	<% end %>

<% else %>
	<div class="row">
		<div class="medium-6 medium-centered large-4 large-centered columns">
			<form>
				<div class="row column log-in-form">
					<h4 class="text-center">Social Heart</h4>
					<p class="text-center"><%= link_to "Sign in with Facebook", "/auth/facebook", class: "expanded button fb" %></p>
					<p class="text-center"><%= link_to "Sign in with Twitter", "/auth/twitter", class: "expanded button" %></p>
      			</div>
      		</form>
      	</div>
	</div>
	<%= render 'users/user' %>
<% end %>	